{% extends "base.html" %}

{% block title %}View operations for currentAccount ``{{currentAccount.name}}'' {% endblock %}

{% block content %}
    <table id="operationList">
      <caption>Operation list</caption>
      <tr>
	<th style="width:1%">&nbsp;</th>
	<th style="width:10%">N°</th>
	<th style="width:10%">Date</th>
	<th style="width:57%">Description</th>
	<th style="width:1%">P</th>
	<th style="width:10%">Debit</th>
	<th style="width:10%">Credit</th>
	<th style="width:1%">Action</th>
      </tr>
{% for operation in operations %}
      <tr class="{% cycle rowEven,rowOdd %}">
	<td><input type="checkbox" name="operation[]"
		   id="operation_{{operation.key}}"
		   value="{{operation.key}}"/></td>
	<td>
{% if operation.p %}{{operation.number}}{% else %}-{% endif %}
	</td>
	<td>{{operation.date}}</td>
	<td style="font-style:italic">
	  <label for="operation_{{operation.key}}">{{operation.description}}
	  </label>
	</td>
	<td>{% if operation.p %}Yes{% else %}No{% endif %}</td>
	<td>{{operation.debit|floatformat}}</td>
	<td>{{operation.credit|floatformat}}</td>
	<td><a href="?action=delete&account={{currentAccount.key}}&key={{operation.key}}">delete</a></td>
      </tr>
{% endfor %}
      <tfoot>
	<tr>
	  <td colspan="2">Total debit / credit:</td>
	  <td colspan="3">&nbsp;</td>
	  <td>{{currentDebit}}</td>
	  <td>{{currentCredit}}</td>
	  <td>&nbsp;</td>
	</tr>
	<tr>
	  <td colspan="2">Total amount:</td>
	  <td colspan="5"
	      class="{% firstof amountPositive "red" %}"
	      style="text-align:right">
	    {{currentAmount}}
	  </td>
	  <td>&nbsp;</td>
	</tr>
      </tfoot>
    </table>

    <form action="" method="post" name="addOperation">
      <div>
	<label for="description">Description</label>
	<input type="text" id="description" name="description"></input>
      </div>
      <div>
	<label for="amount">Amount</label>
	<input type="text" name="amount" id="amount"></input>
      </div>
      <div><input type="submit" value="Add operation"></div>
      <input type="hidden" name="currentAccount"
	     value="{{currentAccount.key}}"/>
      <input type="hidden" name="action" value="add"/>
    </form>
{% endblock %}
