{% extends "genericviewer.html" %}

{% block title %}View accounts{% endblock %}

{% block table_headers_n %}8{% endblock %}
{% block table_header %}
<th>Name</th>
<th>Bank name</th>
<th>Creation date</th>
<th>Last update</th>
<th>Owner</th>
<th>Amount</th>
{% endblock %}

{% block row %}
<td><a href="/operation?account={{item.key}}">{{item.name}}</a></td>
<td>{{item.bank.name}}</td>
<td>{{item.dateCreation|date:"Y l F jS"}}</td>
<td>{{item.dateOwner|date:"Y l F jS"}}</td>
<td>{{item.owner}}</td>
<td class="{% firstof item.amountPositive "red" %}">{{item.amount}}</td>
{% endblock %}

{% block gv_header %}<h1 class="page_title">Account list</h1>{% endblock %}

{% block gv_footer %}
<h2>Add an account</h2>

<form action="" method="post" name="addAccount">
  <div>
    <label for="account">Account name</label>
    <input type="text" id="account" name="account"></input>
  </div>
  <div>
    <label for="bank">Bank name</label>
    <select name="bank" id="bank">
      {% for bank in banks %}
      <option id="bank_{{bank.key}}"
	      value="{{bank.key}}">{{bank.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div><input type="submit" value="Add account"></div>
  <input type="hidden" name="action" value="add"/>
</form>
{% endblock %}
