{% extends "../base.html" %}

{% block title %}View banks{% endblock %}

{% block content %}
    <table id="bankList">
      <caption>Bank list</caption>
      <caption>Bank account list</caption>
      <tr>
	<th style="width:1%">&nbsp;</th>
	<th>Bank name</th>
	<th style="width:1%">Action</th>
      </tr>
{% for bank in banks %}
      <tr class="{% cycle rowEven,rowOdd %}">
	<td><input type="checkbox" name="bank[]"
		   id="bank_{{bank.key}}"
		   value="{{bank.key}}"/></td>
	<td><label for="bank_{{bank.key}}">{{bank.name}}</label></td>
	<td><a href="?action=delete&key={{bank.key}}">delete</a></td>
      </tr>
{% endfor %}
    </table>

    <form action="" method="post" name="addBank">
      <div>
	<label for="name">Bank name</label>
	<input type="text" id="name" name="name"></input>
      </div>
      <div><input type="submit" value="Add bank"></div>
      <input type="hidden" name="action" value="add"/>
    </form>
{% endblock %}
