{% extends "genericviewer.html" %}

{% block title %}View banks{% endblock %}

{% block table_headers_n %}6{% endblock %}
{% block table_header %}
<th>Name</th>
<th>IBAN bank code</th>
<th>BIC bank code</th>
<th>Country</th>
{% endblock %}

{% block row %}
<td>{{item.name}}</td>
<td>{{item.bankCode}}</td>
<td>{{item.bicBankCode}}</td>
<td>{{item.country}}</td>
{% endblock %}

{% block gv_header %}<h1 class="page_title">Bank list</h1>{% endblock %}

{% block gv_footer %}
<h2>Add a bank</h2>
<form action="" method="post" name="addBank">
  <div>
    <label for="name">Bank name</label>
    <input type="text" id="name" name="name"></input>
  </div>
  <div><input type="submit" value="Add bank"></div>
  <input type="hidden" name="action" value="add"/>
</form>
{% endblock %}
